body {
    background: rgb(184, 219, 102);
    color: #f8f8f8;
  }


canvas#gameCanvas {
    background: #f8f8f8;
    border: 3px solid;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 10px;
    display: block;
}

/*Media query that sets a different background color for devices 900 and less pixels*/
@media only screen and (max-width: 900px) {
  body{
    background-color: tan;
    color: black;
  }
}

@media only screen and (max-width: 890px) {
  canvas#gameCanvas{
    width: 50%;
  }
}
